body {
  margin: 0;
}
.app {
  font-family: sans-serif;
  text-align: center;
}

/*base*/
.header {
  min-height: 40px;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main > div {
  margin-top: 10px;
}

.footer {
  min-height: 100px;
  margin-top: 10px;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  order: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 500px;
}

.small-content {
  min-height: 200px;
  -webkit-flex-basis: 49%;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

/*laptop*/
@media screen and (min-width: 1000px) {
  .main {
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sidebar {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    order: 0;
  }
  .content {
    -webkit-flex-basis: 38%;
    -ms-flex-preferred-size: 38%;
    flex-basis: 38%;
  }
}

/*pad*/
@media screen and (min-width: 500px) {
}

/*mobile*/
